<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/new.css" />
    <title>Create</title>
  </head>
  <body>
    <form action="/create" method="POST" class="form">
      <h1 class="title">Create Entry</h1>
      <div class="subject row">
        <label for="Subject" class="label">Subject</label>
        <input type="text" name="subject" class="input" /><br />
      </div>
      <div class="body row">
        <label for="Body" class="label">Body</label>
        <input type="text" name="main" class="input" /><br />
      </div>
      <div class="row third">
        <input type="submit" value="Create" class="button" />
      </div>
    </form>
  </body>
</html>
